body {
    background: #141414;
    color: beige;
}

.datepicker {
    font-family: sans-serif;
    text-align: center;
}

.datepicker button {
    background: var(--datepicker-bg);
    color: var(--datepicker-fg);
    border-color: var(--datepicker-border);
    border-style: solid;
    border-width: var(--datepicker-border-width);
}

.datepicker button:hover {
    background: var(--datepicker-hover-bg);
}

.datepicker button:disabled {
    color: var(--datepicker-disabled-fg);
}

.datepicker button.datepicker-selected {
    background: var(--datepicker-selected-bg);
    color: var(--datepicker-selected-fg);
    border-color: var(--datepicker-selected-bg);
}

.datepicker button.datepicker-range {
    background: var(--datepicker-range-bg);
    color: var(--datepicker-range-fg);
    border-color: var(--datepicker-range-border);
}
